body {
  font-family: sans-serif;
}
header, h2 {
  color: red;
  font-style: italic;
  font-weight: bold;

}

@media screen and (max-width: 500px) {
  body {
    background-color: pink;
    color: FFFFB0;
  }
  header, h2 {
    color: C2ADE5;
    font-family: tahoma;
  }
}